################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ProxyTool
/Tests/bin/Debug/net8.0
/Tests/obj
